.catalogo-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(169, 219, 255, 0.77);
    height: fit-content;
    width: fit-content;
}

.models-container {
    display: flex;
    flex-direction: row;

    .modelo-catalogo {
        margin-right: 10px;
        margin-left: 10px;
    }
}